Repository ninoseki/arakawa: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, uv-sort, ruff, ruff-format, prettier, actionlint, nbstripout

lefthook.yml:

pre-commit:
  commands:
    uv-lock:
      root: "python-client/"
      glob: "pyproject.toml"
      run: uv lock
    uv-sort:
      root: "python-client/"
      glob: "pyproject.toml"
      run: uv run uv-sort
    ruff:
      root: "python-client/"
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      root: "python-client/"
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true
    prettier:
      root: "web-components/"
      glob: "*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    actionlint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: actionlint {staged_files}
    nbstripout:
      root: "docs/"
      glob: "*.ipynb"
      run: uv run nbstripout {staged_files}
      stage_fixed: true

chore: enable stage fixed
  lefthook.yml
Due: none

chore: enable stage fixed (#91)
  lefthook.yml
Due: none

chore: update dependencies
  docs/pyproject.toml
  docs/uv.lock
  python-client/pyproject.toml
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: none

chore: update dependencies (#92)
  docs/pyproject.toml
  docs/uv.lock
  python-client/pyproject.toml
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: none

chore: update URLs (add homepage and documentation)
  python-client/pyproject.toml
Due: none

chore: update URLs (add homepage and documentation) (#93)
  python-client/pyproject.toml
Due: none

feat: use build hook
  python-client/.gitignore
  python-client/pyproject.toml
  python-client/src/arakawa/__init__.py
Due: ruff, ruff-format

fix: use simple template
  python-client/pyproject.toml
  python-client/src/arakawa/_version.pyi
Due: none

fix: add line-break
  python-client/pyproject.toml
Due: none

feat: use build hook (#94)
  python-client/.gitignore
  python-client/pyproject.toml
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/_version.pyi
Due: ruff, ruff-format

docs: update conda sections
  docs/docs/installing-arakawa.md
  docs/docs/reports/jupyter-integration.ipynb
  python-client/README.md
Due: nbstripout

docs: update conda sections (#96)
  docs/docs/installing-arakawa.md
  docs/docs/reports/jupyter-integration.ipynb
  python-client/README.md
Due: nbstripout

fix: fix Group error
  python-client/src/arakawa/blocks/layout.py
  python-client/tests/blocks/test_layout.py
Due: ruff, ruff-format

fix: fix Group error (#97)
  python-client/src/arakawa/blocks/layout.py
  python-client/tests/blocks/test_layout.py
Due: ruff, ruff-format

fix: remove great_tables from default dependencies
  python-client/pyproject.toml
  python-client/uv.lock
Due: none

fix: remove great_tables from default dependencies (#98)
  python-client/pyproject.toml
  python-client/uv.lock
Due: none

refactor: change version to embed
  python-client/src/arakawa/view/pydantic_visitor.py
  python-client/src/arakawa/view/view_blocks.py
Due: ruff, ruff-format

refactor: change version to embed (#99)
  python-client/src/arakawa/view/pydantic_visitor.py
  python-client/src/arakawa/view/view_blocks.py
Due: ruff, ruff-format

refactor: use Hatch's default build hook (version)
  python-client/pyproject.toml
Due: none

refactor: use Hatch's default build hook (version) (#100)
  python-client/pyproject.toml
Due: none

refactor: remove build
  .github/workflows/publish.yml
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/uv.lock
Due: actionlint

fix: apply uv-sort
  python-client/pyproject.toml
Due: none

fix: fix glob error
  lefthook.yml
Due: none

refactor: remove build (#101)
  .github/workflows/publish.yml
  lefthook.yml
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/uv.lock
Due: actionlint

chore: update frontend deps
  web-components/package-lock.json
  web-components/package.json
Due: none

chore: update frontend deps (#102)
  web-components/package-lock.json
  web-components/package.json
Due: none

chore: update Pinia
  web-components/package-lock.json
  web-components/package.json
Due: none

chore: update Pinia (#103)
  web-components/package-lock.json
  web-components/package.json
Due: none

chore: Plotly v6
  python-client/pyproject.toml
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: none

chore: Plotly v6 (#104)
  python-client/pyproject.toml
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: none

fix: fix Plotly version specifier
  python-client/src/arakawa/optional_libs.py
Due: ruff, ruff-format

fix: fix Plotly version specifier (#106)
  python-client/src/arakawa/optional_libs.py
Due: ruff, ruff-format

test: test optional-libs specifier sets
  python-client/pyproject.toml
  python-client/tests/test_optional_libs.py
  python-client/uv.lock
Due: ruff, ruff-format

test: test optional-libs specifier sets (#107)
  python-client/pyproject.toml
  python-client/tests/test_optional_libs.py
  python-client/uv.lock
Due: ruff, ruff-format

feat: support NetworkX/Sigma
  docs/docs/blocks/artic.json
  docs/docs/blocks/display-blocks.ipynb
  docs/docs/installing-arakawa.md
  docs/docs/reference/display-blocks/network.ipynb
  docs/docs/reference/display-blocks/plots.ipynb
  docs/docs/reference/layout-blocks/select.ipynb
  docs/mkdocs.yml
  docs/pyproject.toml
  docs/uv.lock
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/__init__.py
  python-client/src/arakawa/blocks/network.py
  python-client/src/arakawa/blocks/wrappers.py
  python-client/src/arakawa/optional_libs.py
  python-client/uv.lock
  web-components/eslint.config.mjs
  web-components/package-lock.json
  web-components/package.json
  web-components/src/components/blocks/Sigma/Sigma.vue
  web-components/src/components/blocks/Sigma/SigmaConnector.vue
  web-components/src/data-model/blocks/leaf-blocks.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/test-maps.ts
  web-components/src/shared/ARDropdown.vue
Due: ruff, ruff-format, prettier, nbstripout

fix: use typing_extensions on Python < 3.12
  python-client/src/arakawa/blocks/network.py
Due: ruff, ruff-format
