Repository ninoseki/arakawa: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, uv-sort, ruff, ruff-format, prettier, actionlint, nbstripout

lefthook.yml:

pre-commit:
  commands:
    uv-lock:
      root: "python-client/"
      glob: "pyproject.toml"
      run: uv lock
    uv-sort:
      root: "python-client/"
      glob: "pyproject.toml"
      run: uv run uv-sort
    ruff:
      root: "python-client/"
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      root: "python-client/"
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true
    prettier:
      root: "web-components/"
      glob: "*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    actionlint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: actionlint {staged_files}
    nbstripout:
      root: "docs/"
      glob: "*.ipynb"
      run: uv run nbstripout {staged_files}
      stage_fixed: true

refactor: remove schemas
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/__init__.py
  python-client/src/arakawa/blocks/asset.py
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/blocks/controls.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/blocks/misc_blocks.py
  python-client/src/arakawa/blocks/mixins.py
  python-client/src/arakawa/blocks/text.py
  python-client/src/arakawa/file_store.py
  python-client/src/arakawa/processors/__init__.py
  python-client/src/arakawa/processors/api.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/processors/types.py
  python-client/src/arakawa/schemas/__init__.py
  python-client/src/arakawa/schemas/asset.py
  python-client/src/arakawa/schemas/base.py
  python-client/src/arakawa/schemas/controls.py
  python-client/src/arakawa/schemas/fields.py
  python-client/src/arakawa/schemas/layout.py
  python-client/src/arakawa/schemas/misc_blocks.py
  python-client/src/arakawa/schemas/text.py
  python-client/src/arakawa/view/pydantic_visitor.py
  python-client/src/arakawa/view/view_blocks.py
  python-client/tests/views/test_views.py
Due: ruff, ruff-format

refactor: remove schemas
  docs/docs/blocks/layout-blocks.ipynb
  docs/mkdocs.yml
  python-client/src/arakawa/blocks/__init__.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/blocks/text.py
  python-client/src/arakawa/view/pydantic_visitor.py
  python-client/src/arakawa/view/view_blocks.py
  python-client/tests/views/test_views.py
Due: ruff, ruff-format, nbstripout

refactor: use _tag
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/view/pydantic_visitor.py
  python-client/src/arakawa/view/view_blocks.py
  python-client/tests/views/test_views.py
  web-components/src/data-model/blocks/layout.ts
  web-components/src/data-model/blocks/leaf-blocks.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/test-maps.ts
Due: ruff, ruff-format, prettier

Refactoring (#79)
  docs/docs/blocks/layout-blocks.ipynb
  docs/mkdocs.yml
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/__init__.py
  python-client/src/arakawa/blocks/asset.py
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/blocks/controls.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/blocks/misc_blocks.py
  python-client/src/arakawa/blocks/mixins.py
  python-client/src/arakawa/blocks/text.py
  python-client/src/arakawa/file_store.py
  python-client/src/arakawa/processors/__init__.py
  python-client/src/arakawa/processors/api.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/processors/types.py
  python-client/src/arakawa/schemas/__init__.py
  python-client/src/arakawa/schemas/asset.py
  python-client/src/arakawa/schemas/base.py
  python-client/src/arakawa/schemas/controls.py
  python-client/src/arakawa/schemas/fields.py
  python-client/src/arakawa/schemas/layout.py
  python-client/src/arakawa/schemas/misc_blocks.py
  python-client/src/arakawa/schemas/text.py
  python-client/src/arakawa/view/pydantic_visitor.py
  python-client/src/arakawa/view/view_blocks.py
  python-client/tests/views/test_views.py
  web-components/src/data-model/blocks/layout.ts
  web-components/src/data-model/blocks/leaf-blocks.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/test-maps.ts
Due: ruff, ruff-format, prettier, nbstripout

refactor: use id instead of name
  python-client/src/arakawa/blocks/asset.py
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/blocks/controls.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/blocks/misc_blocks.py
  python-client/src/arakawa/blocks/mixins.py
  python-client/src/arakawa/blocks/text.py
  python-client/src/arakawa/builtins.py
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/view/pydantic_visitor.py
  python-client/src/arakawa/view/view_blocks.py
  web-components/src/data-model/blocks/leaf-blocks.ts
Due: ruff, ruff-format, prettier

fix: set column in Group
  python-client/src/arakawa/blocks/layout.py
Due: ruff, ruff-format

refactor: set name in control blocks
  python-client/src/arakawa/blocks/controls.py
  python-client/tests/blocks/__init__.py
  python-client/tests/blocks/test_controls.py
  web-components/src/data-model/blocks/leaf-blocks.ts
Due: ruff, ruff-format, prettier

Prefer id to name (#81)
  python-client/src/arakawa/blocks/asset.py
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/blocks/controls.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/blocks/misc_blocks.py
  python-client/src/arakawa/blocks/mixins.py
  python-client/src/arakawa/blocks/text.py
  python-client/src/arakawa/builtins.py
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/view/pydantic_visitor.py
  python-client/src/arakawa/view/view_blocks.py
  python-client/tests/blocks/__init__.py
  python-client/tests/blocks/test_controls.py
  web-components/src/data-model/blocks/leaf-blocks.ts
Due: ruff, ruff-format, prettier

fix: set column in Group (#80)
  python-client/src/arakawa/blocks/layout.py
Due: ruff, ruff-format

fix: use AnyUrl
  python-client/src/arakawa/view/pydantic_visitor.py
Due: ruff, ruff-format

fix: use AnyUrl (#82)
  python-client/src/arakawa/view/pydantic_visitor.py
Due: ruff, ruff-format

fix: fix typos
  python-client/src/arakawa/blocks/misc_blocks.py
  web-components/src/data-model/blocks/leaf-blocks.ts
Due: ruff, ruff-format, prettier

fix: fix typos (#83)
  python-client/src/arakawa/blocks/misc_blocks.py
  web-components/src/data-model/blocks/leaf-blocks.ts
Due: ruff, ruff-format, prettier

refactor: relax Pydantic version
  python-client/pyproject.toml
  python-client/uv.lock
Due: none

refactor: relax Pydantic version (#84)
  python-client/pyproject.toml
  python-client/uv.lock
Due: none

fix: fix storybook issue
  web-components/.storybook/main.ts
  web-components/.storybook/preview.ts
  web-components/package-lock.json
  web-components/package.json
  web-components/src/data-model/blocks/leaf-blocks.ts
  web-components/src/data-model/types.ts
  web-components/src/stories/app-blocks/Attachment.stories.js
  web-components/src/stories/controls/Function.stories.js
Due: prettier

fix: fix storybook issue (#85)
  web-components/.storybook/main.ts
  web-components/.storybook/preview.ts
  web-components/package-lock.json
  web-components/package.json
  web-components/src/data-model/blocks/leaf-blocks.ts
  web-components/src/data-model/types.ts
  web-components/src/stories/app-blocks/Attachment.stories.js
  web-components/src/stories/controls/Function.stories.js
Due: prettier

refactor: relax Pydantic version specifier
  python-client/pyproject.toml
  python-client/uv.lock
Due: none

refactor: relax Pydantic version specifier (#86)
  python-client/pyproject.toml
  python-client/uv.lock
Due: none

refactor: drop coerce_numbers_to_str
  python-client/src/arakawa/blocks/misc_blocks.py
  python-client/src/arakawa/blocks/utils.py
  python-client/tests/blocks/test_misc_blocks.py
Due: ruff, ruff-format

refactor: drop coerce_numbers_to_str (#87)
  python-client/src/arakawa/blocks/misc_blocks.py
  python-client/src/arakawa/blocks/utils.py
  python-client/tests/blocks/test_misc_blocks.py
Due: ruff, ruff-format

chore: remove unused inner function
  python-client/src/arakawa/common/df_processor.py
Due: ruff, ruff-format

chore: remove unused inner function (#88)
  python-client/src/arakawa/common/df_processor.py
Due: ruff, ruff-format

feat: add great_tables
  docs/docs/installing-arakawa.md
  docs/docs/reference/display-blocks/data.ipynb
  docs/pyproject.toml
  docs/uv.lock
  python-client/pyproject.toml
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/__init__.py
  python-client/src/arakawa/blocks/text.py
  python-client/src/arakawa/blocks/wrappers.py
  python-client/src/arakawa/optional_libs.py
  python-client/src/arakawa/view/asset_writers.py
  python-client/uv.lock
Due: ruff, ruff-format, nbstripout

chore: update uv.lock
  python-client/uv.lock
Due: none

chore: update uv
  python-client/requirements.txt
Due: none

fix: sort deps
  python-client/pyproject.toml
Due: none

Great tables (#89)
  docs/docs/installing-arakawa.md
  docs/docs/reference/display-blocks/data.ipynb
  docs/pyproject.toml
  docs/uv.lock
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/__init__.py
  python-client/src/arakawa/blocks/text.py
  python-client/src/arakawa/blocks/wrappers.py
  python-client/src/arakawa/optional_libs.py
  python-client/src/arakawa/view/asset_writers.py
  python-client/uv.lock
Due: ruff, ruff-format, nbstripout

feat: support Polars
  docs/docs/blocks/display-blocks.ipynb
  docs/docs/index.md
  docs/docs/installing-arakawa.md
  docs/uv.lock
  python-client/pyproject.toml
  python-client/src/arakawa/blocks/asset.py
  python-client/src/arakawa/blocks/wrappers.py
  python-client/src/arakawa/common/datafiles.py
  python-client/src/arakawa/common/df_processor.py
  python-client/src/arakawa/optional_libs.py
  python-client/src/arakawa/view/asset_writers.py
  python-client/tests/common/test_df_processor.py
  python-client/tests/parser.py
  python-client/tests/test_builtins.py
  python-client/tests/view/__init__.py
  python-client/tests/view/test_asset_writers.py
  python-client/uv.lock
Due: ruff, ruff-format, nbstripout

Polars (#90)
  docs/docs/blocks/display-blocks.ipynb
  docs/docs/index.md
  docs/docs/installing-arakawa.md
  docs/uv.lock
  python-client/pyproject.toml
  python-client/src/arakawa/blocks/asset.py
  python-client/src/arakawa/blocks/wrappers.py
  python-client/src/arakawa/common/datafiles.py
  python-client/src/arakawa/common/df_processor.py
  python-client/src/arakawa/optional_libs.py
  python-client/src/arakawa/view/asset_writers.py
  python-client/tests/common/test_df_processor.py
  python-client/tests/parser.py
  python-client/tests/test_builtins.py
  python-client/tests/view/__init__.py
  python-client/tests/view/test_asset_writers.py
  python-client/uv.lock
Due: ruff, ruff-format, nbstripout
