Repository ninoseki/arakawa: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, uv-sort, ruff, ruff-format, prettier, actionlint, nbstripout

lefthook.yml:

pre-commit:
  commands:
    uv-lock:
      root: "python-client/"
      glob: "pyproject.toml"
      run: uv lock
    uv-sort:
      root: "python-client/"
      glob: "pyproject.toml"
      run: uv run uv-sort
    ruff:
      root: "python-client/"
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      root: "python-client/"
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true
    prettier:
      root: "web-components/"
      glob: "*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    actionlint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: actionlint {staged_files}
    nbstripout:
      root: "docs/"
      glob: "*.ipynb"
      run: uv run nbstripout {staged_files}
      stage_fixed: true

chore: update deps
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: none

fix: apply format by ruff
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/ipython/utils.py
  python-client/src/arakawa/schemas/mixins.py
Due: ruff, ruff-format

chore: update deps (#64)
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/ipython/utils.py
  python-client/src/arakawa/schemas/mixins.py
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: ruff, ruff-format

docs: add badges
  python-client/README.md
Due: none

docs: add badges (#65)
  python-client/README.md
Due: none

fix: use absolute path in download-artifact
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: actionlint

fix: use absolute path in download-artifact (#66)
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: actionlint

fix: set shared-data
  python-client/pyproject.toml
Due: none

fix: set shared-data (#67)
  python-client/pyproject.toml
Due: none

fix: use wheel.artifacts
  python-client/pyproject.toml
Due: none

ci: add steps to confirm what's inside in wheel
  .github/workflows/build.yml
Due: actionlint

fix: use wheel.artifacts (#68)
  .github/workflows/build.yml
  python-client/pyproject.toml
Due: actionlint

docs: introduce mike
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  docs/.gitignore
  docs/convert_to_py_version.py
  docs/mkdocs.yml
  docs/pyproject.toml
  docs/uv.lock
Due: actionlint

docs: introduce mike (#69)
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  docs/.gitignore
  docs/convert_to_py_version.py
  docs/mkdocs.yml
  docs/pyproject.toml
  docs/uv.lock
Due: actionlint

fix: use uv run
  .github/workflows/docs.yml
  docs/uv.lock
Due: actionlint

fix: use uv run (#70)
  .github/workflows/docs.yml
  docs/uv.lock
Due: actionlint

fix: set credentials
  .github/workflows/docs.yml
  .github/workflows/publish.yml
Due: actionlint

fix: set credentials (#71)
  .github/workflows/docs.yml
  .github/workflows/publish.yml
Due: actionlint

fix: use uv run
  .github/workflows/docs.yml
Due: actionlint

fix: use uv run (#72)
  .github/workflows/docs.yml
Due: actionlint

fix: use uv run
  .github/workflows/publish.yml
Due: actionlint

fix: use uv run (#73)
  .github/workflows/publish.yml
Due: actionlint

fix: set fetch-depth
  .github/workflows/docs.yml
  .github/workflows/publish.yml
Due: actionlint

fix: set fetch-depth (#74)
  .github/workflows/docs.yml
  .github/workflows/publish.yml
Due: actionlint

refactor: remove underscore suffix
  python-client/src/arakawa/blocks/controls.py
  python-client/uv.lock
Due: ruff, ruff-format

refactor: remove underscore suffix (#75)
  python-client/src/arakawa/blocks/controls.py
  python-client/uv.lock
Due: ruff, ruff-format

fix: remove underscore suffix
  docs/docs/blocks/control-blocks.ipynb
  docs/docs/reference/control-blocks/numbers.ipynb
  docs/docs/reference/control-blocks/validation.ipynb
Due: nbstripout

docs: set canonical version
  docs/mkdocs.yml
Due: none

Update docs (#76)
  docs/docs/blocks/control-blocks.ipynb
  docs/docs/reference/control-blocks/numbers.ipynb
  docs/docs/reference/control-blocks/validation.ipynb
  docs/mkdocs.yml
Due: nbstripout

fix: use underscore prefix
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/view/pydantic_visitor.py
  python-client/src/arakawa/view/view_blocks.py
Due: ruff, ruff-format

fix: use underscore prefix (#77)
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/view/pydantic_visitor.py
  python-client/src/arakawa/view/view_blocks.py
Due: ruff, ruff-format

fix: set-default
  .github/workflows/docs.yml
  .github/workflows/publish.yml
Due: actionlint

fix: set-default (#78)
  .github/workflows/docs.yml
  .github/workflows/publish.yml
Due: actionlint

Set default version to latest with mike 2.1.3
  index.html
Due: none
