Repository ninoseki/arakawa: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, uv-sort, ruff, ruff-format, prettier, actionlint, nbstripout

uv-lock:
  run: uv lock

uv-sort:
  run: uv run uv-sort

ruff:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uv run ruff format {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

actionlint:
  run: actionlint {staged_files}

nbstripout:
  run: uv run nbstripout {staged_files}
  stage_fixed: true

refactor: drop unused/cloud funcitonalities (#33)
  docs/Taskfile.yml
  python-client/src/arakawa/blocks/text.py
  python-client/src/arakawa/common/__init__.py
  python-client/src/arakawa/common/ar_types.py
  python-client/src/arakawa/common/ops_utils.py
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/resources/view_resources/full_schema.rnc
  python-client/src/arakawa/resources/view_resources/full_schema.rng
  python-client/src/arakawa/view/xml_visitor.py
  python-client/tests/common/test_misc.py
  web-components/base.tailwind.config.js
  web-components/global.ts
  web-components/package-lock.json
  web-components/package.json
  web-components/src/components/LoadingSpinner.vue
  web-components/src/components/ReportComponent.vue
  web-components/src/components/ReportContainer.vue
  web-components/src/components/blocks/Code.vue
  web-components/src/components/blocks/DataTable/DataTable.vue
  web-components/src/components/blocks/DataTable/DataTableConnector.vue
  web-components/src/components/blocks/DataTable/DataTag.vue
  web-components/src/components/blocks/DataTable/Header.vue
  web-components/src/components/blocks/Table.ce.vue
  web-components/src/data-model/blocks/datatable.ts
  web-components/src/data-model/blocks/leaf-blocks.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/types.ts
  web-components/src/environment.ts
  web-components/src/index.ts
  web-components/src/polyfills.ts
  web-components/src/stories/app-blocks/DataTable.stories.js
  web-components/tailwind.config.js
  web-components/vite.config.ts
Due: ruff, ruff-format, prettier

refactor: don't install typing-extensions if python_version >= 3.11
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/processors/file_store.py
  python-client/src/arakawa/view/view_blocks.py
  python-client/src/arakawa/view/xml_visitor.py
  python-client/uv.lock
Due: ruff, ruff-format

fix: update uv.lock
  python-client/uv.lock
Due: none

refactor: don't install typing-extensions if python_version >= 3.11 (#34)
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/processors/file_store.py
  python-client/src/arakawa/view/view_blocks.py
  python-client/src/arakawa/view/xml_visitor.py
  python-client/uv.lock
Due: ruff, ruff-format

refactor: remove unused props
  web-components/src/components/controls/ColorField.vue
  web-components/src/components/controls/HiddenField.vue
  web-components/src/components/controls/PasswordField.vue
Due: prettier

refactor: simplify compute block
  web-components/src/components/controls/Compute.vue
Due: prettier

refactor: update dependencies
  web-components/eslint.config.mjs
  web-components/package-lock.json
  web-components/package.json
  web-components/tsconfig.vitest.json
Due: none

Renew frontend (#35)
  web-components/eslint.config.mjs
  web-components/package-lock.json
  web-components/package.json
  web-components/src/components/controls/ColorField.vue
  web-components/src/components/controls/Compute.vue
  web-components/src/components/controls/HiddenField.vue
  web-components/src/components/controls/PasswordField.vue
  web-components/tsconfig.vitest.json
Due: prettier

chore: update deps
  docs/pyproject.toml
  docs/uv.lock
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/uv.lock
Due: none

chore: update deps (#36)
  docs/pyproject.toml
  docs/uv.lock
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/uv.lock
Due: none

ci: use trusted publisher
  .github/workflows/publish.yml
  python-client/pyproject.toml
  python-client/uv.lock
Due: actionlint

ci: use trusted publisher (#37)
  .github/workflows/publish.yml
  python-client/pyproject.toml
  python-client/uv.lock
Due: actionlint

ci: set packages-dir
  .github/workflows/publish.yml
Due: actionlint

ci: set packages-dir (#38)
  .github/workflows/publish.yml
Due: actionlint

refactor: update iframe-resizer
  python-client/src/arakawa/blocks/text.py
  python-client/src/arakawa/resources/html_templates/ipython_base.html.j2
  python-client/src/arakawa/resources/html_templates/ipython_template.html.j2
  web-components/package-lock.json
  web-components/package.json
  web-components/src/components/blocks/Embed.vue
  web-components/src/components/blocks/HTML.vue
  web-components/src/components/blocks/Plotapi.vue
  web-components/src/index.ts
  web-components/vite.config.ts
Due: ruff, ruff-format, prettier

refactor: update iframe-resizer (#39)
  python-client/src/arakawa/blocks/text.py
  python-client/src/arakawa/resources/html_templates/ipython_base.html.j2
  python-client/src/arakawa/resources/html_templates/ipython_template.html.j2
  web-components/package-lock.json
  web-components/package.json
  web-components/src/components/blocks/Embed.vue
  web-components/src/components/blocks/HTML.vue
  web-components/src/components/blocks/Plotapi.vue
  web-components/src/index.ts
  web-components/vite.config.ts
Due: ruff, ruff-format, prettier

docs: fix broken links
  docs/docs/quickstart.ipynb
  docs/mkdocs.yml
Due: nbstripout

docs: fix broken links (#40)
  docs/docs/quickstart.ipynb
  docs/mkdocs.yml
Due: nbstripout

refactor: fix lint/format issues
  .github/workflows/node.yml
  lefthook.yml
  web-components/src/components/blocks/Bokeh.vue
  web-components/src/components/blocks/Embed.vue
  web-components/src/components/blocks/Folium.vue
  web-components/src/components/blocks/Formula.vue
  web-components/src/components/blocks/Plotapi.vue
  web-components/src/components/blocks/Plotly.vue
  web-components/src/components/blocks/Table.ce.vue
Due: prettier, actionlint

refactor: fix lint/format issues (#41)
  .github/workflows/node.yml
  lefthook.yml
  web-components/src/components/blocks/Bokeh.vue
  web-components/src/components/blocks/Embed.vue
  web-components/src/components/blocks/Folium.vue
  web-components/src/components/blocks/Formula.vue
  web-components/src/components/blocks/Plotapi.vue
  web-components/src/components/blocks/Plotly.vue
  web-components/src/components/blocks/Table.ce.vue
Due: prettier, actionlint

feat: support Apache Arrow v18
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: none

feat: support Apache Arrow v18 (#42)
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: none

refactor: remove Plot API
  web-components/src/components/blocks/Plotapi.vue
  web-components/src/components/blocks/PlotapiConnector.vue
  web-components/src/components/blocks/Table.ce.vue
  web-components/src/data-model/blocks/leaf-blocks.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/test-maps.ts
  web-components/src/stories/app-blocks/Plotapi.stories.js
  web-components/src/stories/assets/plotapi.html
Due: prettier

refactor: remove Plot API (#43)
  web-components/src/components/blocks/Plotapi.vue
  web-components/src/components/blocks/PlotapiConnector.vue
  web-components/src/components/blocks/Table.ce.vue
  web-components/src/data-model/blocks/leaf-blocks.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/test-maps.ts
  web-components/src/stories/app-blocks/Plotapi.stories.js
  web-components/src/stories/assets/plotapi.html
Due: prettier

docs: renew docs
  docs/docs/blocks/control-blocks.ipynb
  docs/docs/blocks/display-blocks.ipynb
  docs/docs/quickstart.ipynb
  docs/docs/reference/control-blocks/choices.ipynb
  docs/docs/reference/control-blocks/choices.md
  docs/docs/reference/control-blocks/color.ipynb
  docs/docs/reference/control-blocks/color.md
  docs/docs/reference/control-blocks/datetimes.ipynb
  docs/docs/reference/control-blocks/datetimes.md
  docs/docs/reference/control-blocks/file.ipynb
  docs/docs/reference/control-blocks/file.md
  docs/docs/reference/control-blocks/numbers.ipynb
  docs/docs/reference/control-blocks/numbers.md
  docs/docs/reference/control-blocks/switch.md
  docs/docs/reference/control-blocks/texts.ipynb
  docs/docs/reference/control-blocks/texts.md
  docs/docs/reference/control-blocks/validation.ipynb
  docs/docs/reference/display-blocks/plots.ipynb
  docs/mkdocs.yml
  docs/nbbuild.sh
Due: nbstripout

docs: renew docs (#44)
  docs/docs/blocks/control-blocks.ipynb
  docs/docs/blocks/display-blocks.ipynb
  docs/docs/quickstart.ipynb
  docs/docs/reference/control-blocks/choices.ipynb
  docs/docs/reference/control-blocks/choices.md
  docs/docs/reference/control-blocks/color.ipynb
  docs/docs/reference/control-blocks/color.md
  docs/docs/reference/control-blocks/datetimes.ipynb
  docs/docs/reference/control-blocks/datetimes.md
  docs/docs/reference/control-blocks/file.ipynb
  docs/docs/reference/control-blocks/file.md
  docs/docs/reference/control-blocks/numbers.ipynb
  docs/docs/reference/control-blocks/numbers.md
  docs/docs/reference/control-blocks/switch.md
  docs/docs/reference/control-blocks/texts.ipynb
  docs/docs/reference/control-blocks/texts.md
  docs/docs/reference/control-blocks/validation.ipynb
  docs/docs/reference/display-blocks/plots.ipynb
  docs/mkdocs.yml
  docs/nbbuild.sh
Due: nbstripout

refactor: renew katex config
  web-components/src/components/blocks/Formula.vue
  web-components/src/index.ts
  web-components/vite.config.ts
Due: prettier

refactor: renew katex config (#45)
  web-components/src/components/blocks/Formula.vue
  web-components/src/index.ts
  web-components/vite.config.ts
Due: prettier

docs: remove overview header
  python-client/README.md
Due: none

refactor: use --check option
  .github/workflows/python.yml
Due: actionlint

Misc (#46)
  .github/workflows/python.yml
  python-client/README.md
Due: actionlint

docs: use h2
  python-client/README.md
Due: none

refactor: Vite 6
  web-components/package-lock.json
  web-components/package.json
Due: none

refactor: Vite 6 (#47)
  web-components/package-lock.json
  web-components/package.json
Due: none

refactor: allow using Vue DevTools
  web-components/package-lock.json
  web-components/package.json
  web-components/vite.config.ts
Due: prettier

refactor: allow using Vue DevTools (#48)
  web-components/package-lock.json
  web-components/package.json
  web-components/vite.config.ts
Due: prettier

chore: update Vega libs
  web-components/package.json
Due: none

chore: update Vega libs (#49)
  web-components/package.json
Due: none

fix: use raw object instead of proxy
  web-components/src/components/blocks/Vega.vue
Due: prettier

fix: use raw object instead of proxy (#50)
  web-components/src/components/blocks/Vega.vue
Due: prettier

Path conditions:
  uv-lock: any of: pyproject.toml and ^python\-client/
  uv-sort: any of: pyproject.toml and ^python\-client/
  ruff: any of: *.py and ^python\-client/
  ruff-format: any of: *.py and ^python\-client/
  prettier: any of: *.{js,ts,vue} and ^web\-components/
  actionlint: any of: .github/workflows/*.{yml,yaml}
  nbstripout: any of: *.ipynb and ^docs/
