Repository ninoseki/arakawa: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, uv-sort, ruff, ruff-format, prettier, actionlint, nbstripout

uv-lock:
  run: uv lock

uv-sort:
  run: uv run uv-sort

ruff:
  run: uv run ruff check --fix {staged_files}
  stage_fixed: true

ruff-format:
  run: uv run ruff format {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

actionlint:
  run: actionlint {staged_files}

nbstripout:
  run: uv run nbstripout {staged_files}
  stage_fixed: true

refactor: fix misc frontend issues
  web-components/package-lock.json
  web-components/src/components/ReportComponent.vue
  web-components/src/components/blocks/BigNumber.vue
  web-components/src/components/blocks/BigNumberSimple.vue
  web-components/src/components/blocks/BokehConnector.vue
  web-components/src/components/blocks/CodeConnector.vue
  web-components/src/components/blocks/DataTable/DataTableConnector.vue
  web-components/src/components/blocks/Embed.vue
  web-components/src/components/blocks/File.vue
  web-components/src/components/blocks/FoliumConnector.vue
  web-components/src/components/blocks/FormulaConnector.vue
  web-components/src/components/blocks/HTML.vue
  web-components/src/components/blocks/Media.vue
  web-components/src/components/blocks/PlotlyConnector.vue
  web-components/src/components/blocks/SVGConnector.vue
  web-components/src/components/blocks/TableConnector.vue
  web-components/src/components/blocks/Text.vue
  web-components/src/components/blocks/VegaConnector.vue
  web-components/src/components/controls/Compute.vue
  web-components/src/components/controls/ComputeConnector.vue
  web-components/src/components/layout/BlockWrapper.vue
  web-components/src/components/layout/Group.vue
  web-components/src/components/layout/SelectBlock.vue
  web-components/src/components/layout/Toggle.vue
  web-components/src/environment.ts
  web-components/src/index.ts
Due: prettier

refactor: stop using p.
  web-components/src/components/ErrorCallout.vue
  web-components/src/components/ReportComponent.vue
  web-components/src/components/ReportContainer.vue
  web-components/src/components/blocks/BigNumber.vue
  web-components/src/components/blocks/BigNumberArrow.vue
  web-components/src/components/blocks/BigNumberSimple.vue
  web-components/src/components/blocks/Bokeh.vue
  web-components/src/components/blocks/BokehConnector.vue
  web-components/src/components/blocks/Code.vue
  web-components/src/components/blocks/CodeConnector.vue
  web-components/src/components/blocks/DataTable/DataTable.vue
  web-components/src/components/blocks/DataTable/DataTableConnector.vue
  web-components/src/components/blocks/DataTable/Header.vue
  web-components/src/components/blocks/DataTable/QueryArea.vue
  web-components/src/components/blocks/Embed.vue
  web-components/src/components/blocks/File.vue
  web-components/src/components/blocks/Folium.vue
  web-components/src/components/blocks/FoliumConnector.vue
  web-components/src/components/blocks/FormulaConnector.vue
  web-components/src/components/blocks/HTML.vue
  web-components/src/components/blocks/Media.vue
  web-components/src/components/blocks/Plotly.vue
  web-components/src/components/blocks/PlotlyConnector.vue
  web-components/src/components/blocks/SVG.vue
  web-components/src/components/blocks/SVGConnector.vue
  web-components/src/components/blocks/Text.vue
  web-components/src/components/blocks/VegaConnector.vue
  web-components/src/components/controls/ComputeConnector.vue
  web-components/src/components/controls/DateTimeField.vue
  web-components/src/components/controls/MultiChoiceField.vue
  web-components/src/components/controls/MultiSelectBase.vue
  web-components/src/components/controls/TagsField.vue
  web-components/src/components/layout/Group.vue
  web-components/src/components/layout/NavBar.vue
  web-components/src/components/layout/PrevNext.vue
  web-components/src/components/layout/Toggle.vue
Due: prettier

fix: set ID
  python-client/src/arakawa/resources/html_templates/head_chrome.html.j2
Due: none

refactor: type store refs
  web-components/src/components/layout/Group.vue
  web-components/src/components/layout/SelectBlock.vue
  web-components/src/components/layout/Toggle.vue
Due: prettier

refactor: type store refs (#52)
  web-components/src/components/layout/Group.vue
  web-components/src/components/layout/SelectBlock.vue
  web-components/src/components/layout/Toggle.vue
Due: prettier

refactor: stop including katex css
  web-components/src/components/blocks/Formula.vue
  web-components/src/index.ts
Due: prettier

refactor: stop including katex css (#53)
  web-components/src/components/blocks/Formula.vue
  web-components/src/index.ts
Due: prettier

chore: update pyproject
  docs/pyproject.toml
  docs/uv.lock
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/src/arakawa/optional_libs.py
  python-client/uv.lock
Due: ruff, ruff-format

chore: update pyproject (#54)
  docs/pyproject.toml
  docs/uv.lock
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/src/arakawa/optional_libs.py
  python-client/uv.lock
Due: ruff, ruff-format

refactor: remove unused vars
  python-client/src/arakawa/common/__init__.py
  python-client/src/arakawa/common/ar_types.py
  python-client/src/arakawa/common/df_processor.py
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/resources/mime.types
Due: ruff, ruff-format

refactor: set proper cast
  python-client/src/arakawa/blocks/asset.py
Due: ruff, ruff-format

fix: use Optional
  python-client/src/arakawa/blocks/asset.py
Due: ruff, ruff-format

Refactoring (#55)
  python-client/src/arakawa/blocks/asset.py
  python-client/src/arakawa/common/__init__.py
  python-client/src/arakawa/common/ar_types.py
  python-client/src/arakawa/common/df_processor.py
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/resources/mime.types
Due: ruff, ruff-format

fix: sort deps
  python-client/pyproject.toml
Due: none

docs: update docs
  docs/Taskfile.yml
  docs/docs/blocks/display-blocks.ipynb
  docs/docs/index.md
  docs/docs/installing-arakawa.md
  docs/docs/quickstart.ipynb
  docs/docs/reference/display-blocks/data.ipynb
  docs/docs/reference/display-blocks/embeds.ipynb
  docs/docs/reference/display-blocks/text.ipynb
  docs/docs/reference/layout-blocks/group.ipynb
  docs/docs/reference/layout-blocks/page.ipynb
  docs/docs/reports/jupyter-integration.ipynb
  docs/mkdocs.yml
  docs/pyproject.toml
  docs/uv.lock
Due: nbstripout

docs: update docs (#57)
  docs/Taskfile.yml
  docs/docs/blocks/display-blocks.ipynb
  docs/docs/index.md
  docs/docs/installing-arakawa.md
  docs/docs/quickstart.ipynb
  docs/docs/reference/display-blocks/data.ipynb
  docs/docs/reference/display-blocks/embeds.ipynb
  docs/docs/reference/display-blocks/text.ipynb
  docs/docs/reference/layout-blocks/group.ipynb
  docs/docs/reference/layout-blocks/page.ipynb
  docs/docs/reports/jupyter-integration.ipynb
  docs/mkdocs.yml
  docs/pyproject.toml
  docs/uv.lock
Due: nbstripout

fix: fix control blocks' validation errors
  docs/uv.lock
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/schemas/layout.py
Due: ruff, ruff-format

fix: fix control blocks' validation errors (#58)
  docs/uv.lock
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/schemas/layout.py
Due: ruff, ruff-format

refactor: prefer undefined over null
  python-client/src/arakawa/processors/processors.py
Due: ruff, ruff-format

refactor: remove #as_dict
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/schemas/asset.py
  python-client/src/arakawa/types.py
  python-client/src/arakawa/view/pydantic_visitor.py
  python-client/tests/builtins.py
  python-client/tests/fixtures/Example.png
Due: ruff, ruff-format

refactor: use _type instead of _Id
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/schemas/__init__.py
  python-client/src/arakawa/schemas/asset.py
  python-client/src/arakawa/schemas/controls.py
  python-client/src/arakawa/schemas/layout.py
  python-client/src/arakawa/schemas/misc_blocks.py
  python-client/src/arakawa/schemas/text.py
  python-client/src/arakawa/view/pydantic_visitor.py
  python-client/tests/client/views/test_views.py
  web-components/src/data-model/blocks/layout.ts
  web-components/src/data-model/blocks/leaf-blocks.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/test-maps.ts
Due: ruff, ruff-format, prettier

refactor: camelize after dumping
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/schemas/base.py
Due: ruff, ruff-format

refactor: use MutableMapping
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/schemas/base.py
  python-client/src/arakawa/view/pydantic_visitor.py
Due: ruff, ruff-format

refactor: rename enum
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/schemas/layout.py
  python-client/src/arakawa/types.py
Due: ruff, ruff-format

refactor: remove client parent dir
  python-client/tests/client/views/__init__.py
  python-client/tests/views/__init__.py
  python-client/tests/views/test_builtins.py
  python-client/tests/views/test_misc.py
  python-client/tests/views/test_misc/report.md
  python-client/tests/views/test_views.py
  python-client/tests/views/test_views/datapane-icon-192x192.png
Due: ruff, ruff-format

refactor: introduce TypeAliasedField
  python-client/src/arakawa/schemas/asset.py
  python-client/src/arakawa/schemas/controls.py
  python-client/src/arakawa/schemas/fields.py
  python-client/src/arakawa/schemas/layout.py
  python-client/src/arakawa/schemas/misc_blocks.py
  python-client/src/arakawa/schemas/text.py
Due: ruff, ruff-format

Refactoring (#60)
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/schemas/__init__.py
  python-client/src/arakawa/schemas/asset.py
  python-client/src/arakawa/schemas/base.py
  python-client/src/arakawa/schemas/controls.py
  python-client/src/arakawa/schemas/fields.py
  python-client/src/arakawa/schemas/layout.py
  python-client/src/arakawa/schemas/misc_blocks.py
  python-client/src/arakawa/schemas/text.py
  python-client/src/arakawa/types.py
  python-client/src/arakawa/view/pydantic_visitor.py
  python-client/tests/builtins.py
  python-client/tests/client/views/__init__.py
  python-client/tests/fixtures/Example.png
  python-client/tests/views/__init__.py
  python-client/tests/views/test_builtins.py
  python-client/tests/views/test_misc.py
  python-client/tests/views/test_misc/report.md
  python-client/tests/views/test_views.py
  python-client/tests/views/test_views/datapane-icon-192x192.png
  web-components/src/data-model/blocks/layout.ts
  web-components/src/data-model/blocks/leaf-blocks.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/test-maps.ts
Due: ruff, ruff-format, prettier

feat: rediscover standalone mode
  .github/workflows/build.yml
  python-client/.gitignore
  python-client/src/arakawa/processors/api.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/resources/html_templates/head_chrome.html.j2
  python-client/src/arakawa/view/view_blocks.py
  web-components/README.md
  web-components/base.vite.config.ts
  web-components/local-report.vite.config.ts
  web-components/package-lock.json
  web-components/package.json
  web-components/src/components/blocks/Table.ce.vue
  web-components/src/local-report.index.ts
  web-components/tsconfig.node.json
  web-components/vite.config.ts
Due: ruff, ruff-format, prettier, actionlint

fix: include local-report assets
  python-client/pyproject.toml
Due: none

docs: update docs & docstring
  .github/workflows/build.yml
  .github/workflows/publish.yml
  docs/docs/blocks/control-blocks.ipynb
  docs/docs/blocks/layout-blocks.ipynb
  docs/docs/quickstart.ipynb
  docs/docs/reference/reports.md
  docs/docs/reports/overview.ipynb
  docs/mkdocs.yml
  docs/pyproject.toml
  docs/uv.lock
  python-client/src/arakawa/processors/api.py
  python-client/src/arakawa/view/view_blocks.py
Due: ruff, ruff-format, actionlint, nbstripout

chore: add a task
  web-components/Taskfile.yml
Due: none

Standalone (#61)
  .github/workflows/build.yml
  docs/docs/blocks/control-blocks.ipynb
  docs/docs/blocks/layout-blocks.ipynb
  docs/docs/quickstart.ipynb
  docs/docs/reference/reports.md
  docs/docs/reports/overview.ipynb
  docs/mkdocs.yml
  docs/pyproject.toml
  docs/uv.lock
  python-client/.gitignore
  python-client/pyproject.toml
  python-client/src/arakawa/processors/api.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/resources/html_templates/head_chrome.html.j2
  python-client/src/arakawa/view/view_blocks.py
  web-components/README.md
  web-components/Taskfile.yml
  web-components/base.vite.config.ts
  web-components/local-report.vite.config.ts
  web-components/package-lock.json
  web-components/package.json
  web-components/src/components/blocks/Table.ce.vue
  web-components/src/local-report.index.ts
  web-components/tsconfig.node.json
  web-components/vite.config.ts
Due: ruff, ruff-format, prettier, actionlint, nbstripout

ci: fix path issue
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: actionlint

ci: fix path issue (#62)
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: actionlint

fix: revert stop using MutableMapping
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/schemas/__init__.py
  python-client/src/arakawa/view/pydantic_visitor.py
Due: ruff, ruff-format

fix: revert stop using MutableMapping (#63)
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/schemas/__init__.py
  python-client/src/arakawa/view/pydantic_visitor.py
Due: ruff, ruff-format

Path conditions:
  uv-lock: any of: pyproject.toml and ^python\-client/
  uv-sort: any of: pyproject.toml and ^python\-client/
  ruff: any of: *.py and ^python\-client/
  ruff-format: any of: *.py and ^python\-client/
  prettier: any of: *.{js,ts,vue} and ^web\-components/
  actionlint: any of: .github/workflows/*.{yml,yaml}
  nbstripout: any of: *.ipynb and ^docs/
