Repository ninoseki/arakawa: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, uv-sort, ruff, ruff-format, eslint, prettier, actionlint, nbstripout

lefthook.yml:

pre-commit:
  commands:
    uv-lock:
      root: "python-client/"
      glob: "**/pyproject.toml"
      run: uv lock
      stage_fixed: true
    uv-sort:
      root: "python-client/"
      glob: "**/pyproject.toml"
      run: uv run uv-sort
      stage_fixed: true
    ruff:
      root: "python-client/"
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      root: "python-client/"
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true
    eslint:
      root: "web-components/"
      glob: "*.{js,mjs,cjs,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      root: "web-components/"
      glob: "*.{js,mjs,cjs,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    actionlint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: actionlint {staged_files}
    nbstripout:
      root: "docs/"
      glob: "*.ipynb"
      run: uv run nbstripout {staged_files}
      stage_fixed: true

refactor: Vite v8
  web-components/base.vite.config.ts
  web-components/package-lock.json
  web-components/package.json
Due: eslint, prettier

Renew (#134)
  web-components/base.vite.config.ts
  web-components/env.d.ts
  web-components/package-lock.json
  web-components/package.json
  web-components/src/components/blocks/Embed.vue
  web-components/src/components/blocks/Formula.vue
  web-components/src/components/blocks/HTML.vue
Due: eslint, prettier

fix: fix Vite 8 issues
  python-client/src/arakawa/resources/html_templates/head_chrome.html.j2
  python-client/src/arakawa/resources/html_templates/ipython_template.html.j2
  web-components/base.vite.config.ts
  web-components/package.json
  web-components/vite.config.ts
Due: eslint, prettier

fix: fix Vite 8 issues (#135)
  python-client/src/arakawa/resources/html_templates/head_chrome.html.j2
  python-client/src/arakawa/resources/html_templates/ipython_template.html.j2
  web-components/base.vite.config.ts
  web-components/package.json
  web-components/vite.config.ts
Due: eslint, prettier

fix: don't use toRefs
  web-components/src/components/layout/BlockWrapper.vue
Due: eslint, prettier

fix: update Bokeh data
  web-components/src/stories/app-blocks/Bokeh.stories.js
Due: eslint, prettier

Fix (#136)
  web-components/src/components/layout/BlockWrapper.vue
  web-components/src/stories/app-blocks/Bokeh.stories.js
Due: eslint, prettier

chore: update dependencies
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/node.yml
  .github/workflows/publish.yml
  .github/workflows/python.yml
  python-client/pyproject.toml
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
  web-components/src/components/layout/Group.vue
  web-components/src/tailwind.ts
Due: uv-lock, uv-sort, eslint, prettier, actionlint

fix: update allow scripts
  web-components/package.json
Due: none

fix: use right actions
  .github/workflows/publish.yml
  .github/workflows/python.yml
Due: actionlint

chore: update dependencies (#137)
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/node.yml
  .github/workflows/publish.yml
  .github/workflows/python.yml
  python-client/pyproject.toml
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
  web-components/src/components/layout/Group.vue
  web-components/src/tailwind.ts
Due: uv-lock, uv-sort, eslint, prettier, actionlint

chore: update deps & cleanup
  docs/nbbuild.sh
  docs/pyproject.toml
  docs/uv.lock
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/uv.lock
  web-components/local-report.vite.config.ts
  web-components/package-lock.json
  web-components/package.json
  web-components/rollup-plugin-vue-esm.ts
  web-components/tsconfig.node.json
  web-components/vite.config.ts
Due: uv-lock, uv-sort, eslint, prettier

chore: update deps & cleanup (#138)
  docs/nbbuild.sh
  docs/pyproject.toml
  docs/uv.lock
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/uv.lock
  web-components/local-report.vite.config.ts
  web-components/package-lock.json
  web-components/package.json
  web-components/rollup-plugin-vue-esm.ts
  web-components/tsconfig.node.json
  web-components/vite.config.ts
Due: uv-lock, uv-sort, eslint, prettier

fix: update titanic image sources
  docs/docs/reference/layout-blocks/select.ipynb
  docs/docs/reference/layout-blocks/toggle.ipynb
Due: nbstripout

fix: update titanic image sources (#139)
  docs/docs/reference/layout-blocks/select.ipynb
  docs/docs/reference/layout-blocks/toggle.ipynb
Due: nbstripout

fix: add write permissions
  .github/workflows/docs.yml
Due: actionlint

fix: remove mobx-vue-lite from allow-scripts
  web-components/package.json
Due: none

fix: remove mobx-vue-lite from allow-scripts (#140)
  web-components/package.json
Due: none

refactor: use zensical
  docs/.gitignore
  docs/Taskfile.yml
  docs/docs/blocks/control-blocks.ipynb
  docs/docs/blocks/display-blocks.ipynb
  docs/mkdocs.yml
  docs/nbbuild.sh
  docs/pyproject.toml
  docs/scripts/convert_notebooks.py
  docs/uv.lock
Due: nbstripout

refactor: use zensical (#141)
  docs/.gitignore
  docs/Taskfile.yml
  docs/docs/blocks/control-blocks.ipynb
  docs/docs/blocks/display-blocks.ipynb
  docs/mkdocs.yml
  docs/nbbuild.sh
  docs/pyproject.toml
  docs/scripts/convert_notebooks.py
  docs/uv.lock
Due: nbstripout

refactor: remove ESLint + update TS
  web-components/.gitignore
  web-components/.oxlintrc.json
  web-components/eslint.config.ts
  web-components/package-lock.json
  web-components/package.json
  web-components/src/data-model/blocks/interactive.ts
  web-components/src/data-model/blocks/layout.ts
  web-components/src/data-model/root-store.ts
  web-components/src/index.ts
  web-components/src/local-report.index.ts
  web-components/tsconfig.app.json
  web-components/tsconfig.node.json
Due: eslint, prettier

refactor: use dayjs
  web-components/package-lock.json
  web-components/package.json
  web-components/src/data-model/blocks/interactive.ts
Due: eslint, prettier

refactor: remove ramda
  web-components/package-lock.json
  web-components/package.json
  web-components/src/data-model/datatable/Coerce.ts
  web-components/tests/data-model/datatable/Coerce.test.ts
  web-components/vitest.config.ts
Due: eslint, prettier

Remove ESLint & update TS, etc. (#142)
  web-components/.gitignore
  web-components/.oxlintrc.json
  web-components/eslint.config.ts
  web-components/package-lock.json
  web-components/package.json
  web-components/src/data-model/blocks/interactive.ts
  web-components/src/data-model/blocks/layout.ts
  web-components/src/data-model/datatable/Coerce.ts
  web-components/src/data-model/root-store.ts
  web-components/src/index.ts
  web-components/src/local-report.index.ts
  web-components/tests/data-model/datatable/Coerce.test.ts
  web-components/tsconfig.app.json
  web-components/tsconfig.node.json
  web-components/vitest.config.ts
Due: eslint, prettier

fix: fix coloring mismatch
  web-components/src/components/blocks/DataTable/Header.vue
Due: eslint, prettier

fix: fix coloring mismatch (#143)
  web-components/src/components/blocks/DataTable/Header.vue
Due: eslint, prettier

refactor: stop full recursive tree walk twice
  python-client/pyproject.toml
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/processors/processors.py
  python-client/tests/blocks/test_misc_blocks.py
Due: uv-lock, uv-sort, ruff, ruff-format

refactor: remove json round-trip
  python-client/src/arakawa/view/asset_writers.py
Due: ruff, ruff-format

refactor: close on froze
  python-client/src/arakawa/file_store.py
Due: ruff, ruff-format

improve serialization perf (#144)
  python-client/pyproject.toml
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/file_store.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/view/asset_writers.py
  python-client/tests/blocks/test_misc_blocks.py
Due: uv-lock, uv-sort, ruff, ruff-format

fix: add write permission for publish-docs
  .github/workflows/publish.yml
Due: actionlint

fix: add write permission for publish-docs (#145)
  .github/workflows/publish.yml
Due: actionlint
