Repository ninoseki/arakawa: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, uv-sort, ruff, ruff-format, pyupgrade, prettier, actionlint, nbclear

lefthook.yml:

pre-commit:
  commands:
    uv-lock:
      root: "python-client/"
      glob: "pyproject.toml"
      run: uv lock
    uv-sort:
      root: "python-client/"
      glob: "pyproject.toml"
      run: uv run uv-sort
    ruff:
      root: "python-client/"
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      root: "python-client/"
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true
    pyupgrade:
      root: "python-client/"
      glob: "*.py"
      run: uv run pyupgrade --py39-plus {staged_files}
      stage_fixed: true
    prettier:
      root: "web-components/"
      glob: "*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    actionlint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: actionlint {staged_files}
    nbclear:
      root: "public-docs/"
      glob: "*.ipynb"
      run: uv run jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True --ClearMetadataPreprocessor.preserve_cell_metadata_mask tags --inplace "${f##*/}" {staged_files}

fix: remove built-in functions for testing
  python-client/src/arakawa/builtins.py
  python-client/tests/builtins.py
  python-client/tests/client/views/test_builtins.py
  python-client/tests/client/views/test_views.py
Due: ruff, ruff-format, pyupgrade

fix: remove meaningless contents
  web-components/local-report.tailwind.config.js
  web-components/tailwind.config.js
Due: prettier

fix: fix typo
  web-components/template-components/src/Modal.ce.vue
Due: prettier

fix: fix typos
  public-docs/docs/blocks/layout-blocks.ipynb
Due: nbclear

fix: enable stage_fixed
  lefthook.yml
Due: none

chore: stop taking care of DP_SERVER_RUNNER
  python-client/src/arakawa/ipython/environment.py
Due: ruff, ruff-format, pyupgrade

refactor: update ruff rules
  public-docs/uv.lock
  python-client/pyproject.toml
  python-client/tests/common/test_df_processor_2.py
  python-client/tests/common/test_misc.py
  python-client/tests/test_versioning.py
Due: ruff, ruff-format, pyupgrade

feat: update ESLint & Prettier
  web-components/.eslintrc.json
  web-components/.prettierignore
  web-components/.prettierrc
  web-components/.prettierrc.json
  web-components/base/vite.config.ts
  web-components/eslint.config.mjs
  web-components/package-lock.json
  web-components/package.json
Due: prettier

fix: fix ESLint errors
  web-components/eslint.config.mjs
  web-components/report/src/components/blocks/Bokeh.vue
  web-components/report/src/components/blocks/BokehConnector.vue
  web-components/report/src/components/blocks/CodeConnector.vue
  web-components/report/src/components/blocks/DataTable/DataTableConnector.vue
  web-components/report/src/components/blocks/DataTable/QueryArea.vue
  web-components/report/src/components/blocks/FoliumConnector.vue
  web-components/report/src/components/blocks/FormulaConnector.vue
  web-components/report/src/components/blocks/PlotapiConnector.vue
  web-components/report/src/components/blocks/Plotly.vue
  web-components/report/src/components/blocks/PlotlyConnector.vue
  web-components/report/src/components/blocks/SVGConnector.vue
  web-components/report/src/components/blocks/TableConnector.vue
  web-components/report/src/components/blocks/Text.vue
  web-components/report/src/components/blocks/Vega.vue
  web-components/report/src/components/blocks/VegaConnector.vue
  web-components/report/src/components/controls/ComputeConnector.vue
  web-components/report/src/components/layout/BlockWrapper.vue
  web-components/report/src/components/layout/PrevNext.vue
  web-components/report/src/data-model/blocks/datatable.ts
  web-components/report/src/data-model/blocks/index.ts
  web-components/report/src/data-model/blocks/layout.ts
  web-components/report/src/data-model/blocks/leaf-blocks.ts
  web-components/report/src/shared/shared.ts
  web-components/template-components/src/SearchQuery.ce.vue
  web-components/template-components/src/template-utils.ts
Due: prettier

refactor: relax version specifiers
  python-client/pyproject.toml
  python-client/uv.lock
Due: none

fix: make Bokeh responsive
  web-components/report/src/components/blocks/Bokeh.vue
Due: prettier

refactor: allow block inheritance
  python-client/src/arakawa/view/xml_visitor.py
Due: ruff, ruff-format, pyupgrade

refactor: don't ignore F811
  python-client/pyproject.toml
  python-client/src/arakawa/blocks/wrappers.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/view/asset_writers.py
  python-client/src/arakawa/view/view_blocks.py
  python-client/src/arakawa/view/visitors.py
  python-client/src/arakawa/view/xml_visitor.py
Due: ruff, ruff-format, pyupgrade

refactor: update ESLint config and other dev deps
  web-components/eslint.config.mjs
  web-components/package-lock.json
  web-components/package.json
  web-components/report/src/components/blocks/Vega.vue
Due: prettier

ci: renew Python workflow
  .github/workflows/python.yml
  lefthook.yml
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/src/arakawa/common/ops_utils.py
  python-client/src/arakawa/processors/file_store.py
  python-client/src/arakawa/view/asset_writers.py
  python-client/tests/common/test_df_processor_2.py
  python-client/uv.lock
Due: ruff, ruff-format, pyupgrade, actionlint

fix: revert change on project.optional-dependencies
  python-client/pyproject.toml
  python-client/uv.lock
Due: none

refactor: update Storybook
  web-components/.gitignore
  web-components/.storybook/main.ts
  web-components/.storybook/preview.ts
  web-components/base.tailwind.config.js
  web-components/eslint.config.mjs
  web-components/package-lock.json
  web-components/package.json
  web-components/shared/rollup-plugin-min-bundle.ts
  web-components/src/stories/app-blocks/BigNumber.stories.js
  web-components/src/stories/app-blocks/Bokeh.stories.js
  web-components/src/stories/app-blocks/Code.stories.js
  web-components/src/stories/app-blocks/DataTable.stories.js
  web-components/src/stories/app-blocks/Embed.stories.js
  web-components/src/stories/app-blocks/File.stories.js
  web-components/src/stories/app-blocks/Folium.stories.js
  web-components/src/stories/app-blocks/Formula.stories.js
  web-components/src/stories/app-blocks/HTML.stories.js
  web-components/src/stories/app-blocks/Media.stories.js
  web-components/src/stories/app-blocks/Plotapi.stories.js
  web-components/src/stories/app-blocks/Plotly.stories.js
  web-components/src/stories/app-blocks/SVG.stories.js
  web-components/src/stories/app-blocks/Table.stories.js
  web-components/src/stories/app-blocks/Text.stories.js
  web-components/src/stories/app-blocks/Vega.stories.js
  web-components/src/stories/assets/folium.html
  web-components/src/stories/controls/DateTimeField.stories.js
  web-components/src/stories/controls/FileField.stories.js
  web-components/src/stories/controls/Function.stories.js
  web-components/src/stories/controls/InputField.stories.js
  web-components/src/stories/controls/MultiSelectField.stories.js
  web-components/src/stories/controls/RangeField.stories.js
  web-components/src/stories/controls/SelectField.stories.js
  web-components/src/stories/controls/SwitchField.stories.js
  web-components/src/stories/controls/TagsField.stories.js
  web-components/src/stories/utils.ts
Due: prettier

fix: install rollup-linux-x64-gnu for CI
  web-components/package-lock.json
  web-components/package.json
Due: none

refactor: remove unused functions/classes
  python-client/pyproject.toml
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/client/__init__.py
  python-client/src/arakawa/common/viewxml_utils.py
  python-client/src/arakawa/ipython/environment.py
  python-client/src/arakawa/ipython/exceptions.py
  python-client/src/arakawa/ipython/templates.py
  python-client/src/arakawa/ipython/utils.py
  python-client/src/arakawa/optional_libs.py
  python-client/src/arakawa/processors/__init__.py
  python-client/src/arakawa/processors/api.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/processors/types.py
  python-client/src/arakawa/utils.py
  python-client/src/arakawa/view/asset_writers.py
  python-client/src/arakawa/view/view_blocks.py
  python-client/src/arakawa/view/visitors.py
  python-client/src/arakawa/view/xml_visitor.py
  python-client/uv.lock
Due: ruff, ruff-format, pyupgrade

wip
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/__init__.py
  python-client/src/arakawa/blocks/controls.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/resources/view_resources/full_schema.rnc
  python-client/src/arakawa/resources/view_resources/full_schema.rng
  python-client/src/arakawa/resources/view_resources/local_post_process.xslt
  python-client/src/arakawa/view/view_blocks.py
  python-client/src/arakawa/view/visitors.py
  python-client/tests/client/views/test_views.py
  web-components/src/components/ReportComponent.vue
  web-components/src/components/ReportContainer.vue
  web-components/src/components/controls/Compute.vue
  web-components/src/components/controls/ComputeConnector.vue
  web-components/src/components/layout/NavBar.vue
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/types.ts
Due: ruff, ruff-format, pyupgrade, prettier

wip
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/__init__.py
  python-client/src/arakawa/blocks/controls.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/resources/view_resources/full_schema.rnc
  python-client/src/arakawa/resources/view_resources/full_schema.rng
  web-components/.storybook/main.ts
  web-components/.storybook/preview.ts
  web-components/src/components/controls/Compute.vue
  web-components/src/components/controls/ComputeConnector.vue
  web-components/src/data-model/blocks/layout.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/types.ts
  web-components/src/stories/controls/Function.stories.js
  web-components/tsconfig.app.json
Due: ruff, ruff-format, pyupgrade, prettier

wip
  docs/Taskfile.yml
  docs/docs/blocks/control-blocks.ipynb
  docs/docs/blocks/display-blocks.ipynb
  docs/docs/blocks/layout-blocks.ipynb
  docs/docs/installing-arakawa.md
  docs/docs/reference/control-blocks/choices.md
  docs/docs/reference/control-blocks/datetimes.md
  docs/docs/reference/control-blocks/file.md
  docs/docs/reference/control-blocks/numbers.md
  docs/docs/reference/control-blocks/switch.md
  docs/docs/reference/control-blocks/text.md
  docs/docs/reference/layout-blocks/compute.ipynb
  docs/docs/reference/reports.md
  docs/mkdocs.yml
  docs/uv.lock
  python-client/Taskfile.yml
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/__init__.py
  python-client/src/arakawa/blocks/controls.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/resources/view_resources/full_schema.rnc
  python-client/src/arakawa/resources/view_resources/full_schema.rng
  web-components/src/components/ErrorCallout.vue
  web-components/src/components/controls/Compute.vue
  web-components/src/components/controls/ComputeConnector.vue
  web-components/src/components/controls/DateTimeField.vue
  web-components/src/components/controls/FileField.vue
  web-components/src/components/controls/MultiChoiceField.vue
  web-components/src/components/controls/NumberBox.vue
  web-components/src/components/controls/RangeField.vue
  web-components/src/components/controls/SelectField.vue
  web-components/src/components/controls/SwitchField.vue
  web-components/src/components/controls/TagsField.vue
  web-components/src/components/controls/TextBox.vue
  web-components/src/data-model/blocks/interactive.ts
  web-components/src/data-model/blocks/layout.ts
  web-components/src/data-model/layout-store.ts
  web-components/src/data-model/root-store.ts
Due: ruff, ruff-format, pyupgrade, prettier

wip
  python-client/src/arakawa/blocks/controls.py
  python-client/src/arakawa/blocks/layout.py
Due: ruff, ruff-format, pyupgrade

wip
  python-client/src/arakawa/processors/api.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/view/view_blocks.py
Due: ruff, ruff-format, pyupgrade

wip
  web-components/src/stories/controls/Function.stories.js
Due: prettier

docs: fix dead link
  docs/docs/reference/layout-blocks/compute.ipynb
Due: none

docs: fix dead links
  docs/docs/blocks/control-blocks.ipynb
  docs/docs/blocks/display-blocks.ipynb
  docs/docs/blocks/layout-blocks.ipynb
  docs/docs/reference/display-blocks/plots.ipynb
  docs/docs/reports/overview.ipynb
Due: none

feat: add more control blocks
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/__init__.py
  python-client/src/arakawa/blocks/controls.py
  python-client/src/arakawa/resources/view_resources/full_schema.rnc
  python-client/src/arakawa/resources/view_resources/full_schema.rng
  web-components/src/components/controls/HiddenField.vue
  web-components/src/components/controls/PasswordField.vue
  web-components/src/components/controls/TelephoneField.vue
  web-components/src/data-model/blocks/interactive.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/test-maps.ts
Due: ruff, ruff-format, pyupgrade, prettier

feat: add more control blocks
  docs/docs/blocks/control-blocks.ipynb
  docs/docs/reference/control-blocks/color.md
  docs/docs/reference/control-blocks/text.md
  docs/docs/reference/control-blocks/texts.md
  docs/docs/reports/overview.ipynb
  docs/mkdocs.yml
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/__init__.py
  python-client/src/arakawa/blocks/controls.py
  python-client/src/arakawa/resources/view_resources/full_schema.rnc
  python-client/src/arakawa/resources/view_resources/full_schema.rng
  web-components/src/components/controls/ColorField.vue
  web-components/src/components/controls/DateTimeField.vue
  web-components/src/components/controls/FileField.vue
  web-components/src/components/controls/MultiChoiceField.vue
  web-components/src/components/controls/NumberBox.vue
  web-components/src/components/controls/PasswordField.vue
  web-components/src/components/controls/RangeField.vue
  web-components/src/components/controls/SelectField.vue
  web-components/src/components/controls/SwitchField.vue
  web-components/src/components/controls/TagsField.vue
  web-components/src/components/controls/TextBox.vue
  web-components/src/components/controls/formkit.ts
  web-components/src/data-model/blocks/interactive.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/test-maps.ts
Due: ruff, ruff-format, pyupgrade, prettier

Update controls (#31)
  docs/docs/blocks/control-blocks.ipynb
  docs/docs/reference/control-blocks/color.md
  docs/docs/reference/control-blocks/text.md
  docs/docs/reference/control-blocks/texts.md
  docs/docs/reports/overview.ipynb
  docs/mkdocs.yml
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/__init__.py
  python-client/src/arakawa/blocks/controls.py
  python-client/src/arakawa/resources/view_resources/full_schema.rnc
  python-client/src/arakawa/resources/view_resources/full_schema.rng
  web-components/src/components/controls/ColorField.vue
  web-components/src/components/controls/DateTimeField.vue
  web-components/src/components/controls/FileField.vue
  web-components/src/components/controls/HiddenField.vue
  web-components/src/components/controls/MultiChoiceField.vue
  web-components/src/components/controls/NumberBox.vue
  web-components/src/components/controls/PasswordField.vue
  web-components/src/components/controls/RangeField.vue
  web-components/src/components/controls/SelectField.vue
  web-components/src/components/controls/SwitchField.vue
  web-components/src/components/controls/TagsField.vue
  web-components/src/components/controls/formkit.ts
  web-components/src/data-model/blocks/interactive.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/test-maps.ts
Due: ruff, ruff-format, pyupgrade, prettier

chore: prepare for v0.0.1
  docs/clear-notebook-output.sh
  docs/docs/blocks/overview.ipynb
  docs/docs/quickstart.ipynb
  docs/docs/reference/display-blocks/data.ipynb
  docs/docs/reference/display-blocks/embeds.ipynb
  docs/docs/reference/display-blocks/plots.ipynb
  docs/docs/reference/display-blocks/text.ipynb
  docs/docs/reference/layout-blocks/group.ipynb
  docs/docs/reference/layout-blocks/page.ipynb
  docs/docs/reference/layout-blocks/select.ipynb
  docs/docs/reference/layout-blocks/toggle.ipynb
  docs/docs/reports/jupyter-integration.ipynb
  docs/docs/reports/overview.ipynb
  docs/docs/reports/styling.ipynb
  docs/nbclear.sh
  docs/pyproject.toml
  docs/uv.lock
  lefthook.yml
  python-client/pyproject.toml
  python-client/src/arakawa/ipython/environment.py
  python-client/src/arakawa/ipython/utils.py
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
  web-components/src/stories/controls/ColorField.stories.js
  web-components/src/stories/controls/HiddenField.stories.js
  web-components/src/stories/controls/TextBox.stories.js
Due: ruff, ruff-format, pyupgrade, prettier

chore: prepare for v0.0.1 (#32)
  docs/clear-notebook-output.sh
  docs/docs/blocks/overview.ipynb
  docs/docs/quickstart.ipynb
  docs/docs/reference/display-blocks/data.ipynb
  docs/docs/reference/display-blocks/embeds.ipynb
  docs/docs/reference/display-blocks/plots.ipynb
  docs/docs/reference/display-blocks/text.ipynb
  docs/docs/reference/layout-blocks/group.ipynb
  docs/docs/reference/layout-blocks/page.ipynb
  docs/docs/reference/layout-blocks/select.ipynb
  docs/docs/reference/layout-blocks/toggle.ipynb
  docs/docs/reports/jupyter-integration.ipynb
  docs/docs/reports/overview.ipynb
  docs/docs/reports/styling.ipynb
  docs/nbclear.sh
  docs/pyproject.toml
  docs/uv.lock
  lefthook.yml
  python-client/pyproject.toml
  python-client/src/arakawa/ipython/environment.py
  python-client/src/arakawa/ipython/utils.py
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
  web-components/src/stories/controls/ColorField.stories.js
  web-components/src/stories/controls/HiddenField.stories.js
  web-components/src/stories/controls/TextBox.stories.js
Due: ruff, ruff-format, pyupgrade, prettier

refactor: drop unused/cloud funcitonalities
  docs/Taskfile.yml
  python-client/src/arakawa/blocks/text.py
  python-client/src/arakawa/common/__init__.py
  python-client/src/arakawa/common/ar_types.py
  python-client/src/arakawa/common/ops_utils.py
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/resources/view_resources/full_schema.rnc
  python-client/src/arakawa/resources/view_resources/full_schema.rng
  python-client/src/arakawa/view/xml_visitor.py
  python-client/tests/common/test_misc.py
  web-components/base.tailwind.config.js
  web-components/global.ts
  web-components/package-lock.json
  web-components/package.json
  web-components/src/components/LoadingSpinner.vue
  web-components/src/components/ReportComponent.vue
  web-components/src/components/ReportContainer.vue
  web-components/src/components/blocks/Code.vue
  web-components/src/components/blocks/DataTable/DataTable.vue
  web-components/src/components/blocks/DataTable/DataTableConnector.vue
  web-components/src/components/blocks/DataTable/DataTag.vue
  web-components/src/components/blocks/DataTable/Header.vue
  web-components/src/components/blocks/Table.ce.vue
  web-components/src/data-model/blocks/datatable.ts
  web-components/src/data-model/blocks/leaf-blocks.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/types.ts
  web-components/src/environment.ts
  web-components/src/index.ts
  web-components/src/polyfills.ts
  web-components/src/stories/app-blocks/DataTable.stories.js
  web-components/tailwind.config.js
  web-components/vite.config.ts
Due: ruff, ruff-format, pyupgrade, prettier
