Repository ninoseki/arakawa: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, uv-sort, ruff, ruff-format, eslint, prettier, actionlint, nbstripout

lefthook.yml:

pre-commit:
  commands:
    uv-lock:
      root: "python-client/"
      glob: "**/pyproject.toml"
      run: uv lock
      stage_fixed: true
    uv-sort:
      root: "python-client/"
      glob: "**/pyproject.toml"
      run: uv run uv-sort
      stage_fixed: true
    ruff:
      root: "python-client/"
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      root: "python-client/"
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true
    eslint:
      root: "web-components/"
      glob: "*.{js,mjs,cjs,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      root: "web-components/"
      glob: "*.{js,mjs,cjs,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    actionlint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: actionlint {staged_files}
    nbstripout:
      root: "docs/"
      glob: "*.ipynb"
      run: uv run nbstripout {staged_files}
      stage_fixed: true

feat: support NetworkX/Sigma (#108)
  docs/docs/blocks/artic.json
  docs/docs/blocks/display-blocks.ipynb
  docs/docs/installing-arakawa.md
  docs/docs/reference/display-blocks/network.ipynb
  docs/docs/reference/display-blocks/plots.ipynb
  docs/docs/reference/layout-blocks/select.ipynb
  docs/mkdocs.yml
  docs/pyproject.toml
  docs/uv.lock
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/__init__.py
  python-client/src/arakawa/blocks/network.py
  python-client/src/arakawa/blocks/wrappers.py
  python-client/src/arakawa/optional_libs.py
  python-client/uv.lock
  web-components/eslint.config.mjs
  web-components/package-lock.json
  web-components/package.json
  web-components/src/components/blocks/Sigma/Sigma.vue
  web-components/src/components/blocks/Sigma/SigmaConnector.vue
  web-components/src/data-model/blocks/leaf-blocks.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/test-maps.ts
  web-components/src/shared/ARDropdown.vue
Due: uv-lock, uv-sort, ruff, ruff-format, eslint, prettier, nbstripout

fix: fix networkx import issue
  python-client/src/arakawa/blocks/network.py
  python-client/src/arakawa/blocks/wrappers.py
  python-client/src/arakawa/optional_libs.py
  python-client/uv.lock
Due: ruff, ruff-format

fix: fix networkx import issue (#109)
  python-client/src/arakawa/blocks/network.py
  python-client/src/arakawa/blocks/wrappers.py
  python-client/src/arakawa/optional_libs.py
  python-client/uv.lock
Due: ruff, ruff-format

chore: update Storybook, Vite and etc.
  web-components/.storybook/main.ts
  web-components/.storybook/preview.ts
  web-components/package-lock.json
  web-components/package.json
  web-components/vite.config.ts
Due: eslint, prettier

chore: update Storybook, Vite and etc. (#110)
  web-components/.storybook/main.ts
  web-components/.storybook/preview.ts
  web-components/package-lock.json
  web-components/package.json
  web-components/vite.config.ts
Due: eslint, prettier

chore: update Apache Arrow
  python-client/pyproject.toml
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: uv-lock, uv-sort

chore: update Apache Arrow (#111)
  python-client/pyproject.toml
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: uv-lock, uv-sort

refactor: remove unused functions
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/common/__init__.py
  python-client/src/arakawa/common/df_processor.py
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/utils.py
Due: ruff, ruff-format

refactor: remove unused functions (#112)
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/common/__init__.py
  python-client/src/arakawa/common/df_processor.py
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/utils.py
Due: ruff, ruff-format

chore: update NPM deps
  web-components/package-lock.json
  web-components/package.json
Due: none

chore: update Vega
  web-components/package-lock.json
  web-components/package.json
Due: none

Update deps (#113)
  web-components/package-lock.json
  web-components/package.json
Due: none

chore: update Bokeh (drop Python 3.9)
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/python.yml
  python-client/pyproject.toml
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: uv-lock, uv-sort, actionlint

fix: fix lint errors
  python-client/src/arakawa/blocks/asset.py
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/blocks/network.py
  python-client/src/arakawa/blocks/utils.py
  python-client/src/arakawa/blocks/wrappers.py
  python-client/src/arakawa/common/datafiles.py
  python-client/src/arakawa/common/df_processor.py
  python-client/src/arakawa/ipython/templates.py
  python-client/src/arakawa/optional_libs.py
  python-client/src/arakawa/types.py
  python-client/src/arakawa/view/asset_writers.py
  python-client/src/arakawa/view/view_blocks.py
Due: ruff, ruff-format

docs: update docs
  docs/docs/installing-arakawa.md
  docs/pyproject.toml
  docs/uv.lock
Due: none

ci: use trusted publisher
  .github/workflows/publish.yml
Due: actionlint

chore: update Bokeh (drop Python 3.9) (#114)
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/python.yml
  docs/docs/installing-arakawa.md
  docs/pyproject.toml
  docs/uv.lock
  python-client/pyproject.toml
  python-client/src/arakawa/blocks/asset.py
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/blocks/network.py
  python-client/src/arakawa/blocks/utils.py
  python-client/src/arakawa/blocks/wrappers.py
  python-client/src/arakawa/common/datafiles.py
  python-client/src/arakawa/common/df_processor.py
  python-client/src/arakawa/ipython/templates.py
  python-client/src/arakawa/optional_libs.py
  python-client/src/arakawa/types.py
  python-client/src/arakawa/view/asset_writers.py
  python-client/src/arakawa/view/view_blocks.py
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: uv-lock, uv-sort, ruff, ruff-format, actionlint

ci: remove build
  .github/workflows/publish.yml
Due: actionlint

ci: set registry-url
  .github/workflows/publish.yml
Due: actionlint

ci: set tag on prerelease
  .github/workflows/publish.yml
Due: actionlint

fix: downgrade Vega
  web-components/package-lock.json
  web-components/package.json
Due: none

fix: downgrade Vega (#115)
  web-components/package-lock.json
  web-components/package.json
Due: none

feat: Alert
  docs/docs/blocks/display-blocks.ipynb
  docs/docs/reference/display-blocks/text.ipynb
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/__init__.py
  python-client/src/arakawa/blocks/text.py
  python-client/src/arakawa/builtins.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/types.py
  python-client/tests/builtins.py
  web-components/eslint.config.mjs
  web-components/src/components/blocks/Alert.vue
  web-components/src/components/blocks/Markdown.vue
  web-components/src/components/blocks/Text.vue
  web-components/src/data-model/blocks/leaf-blocks.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/test-maps.ts
Due: ruff, ruff-format, eslint, prettier, nbstripout

feat: Alert (#116)
  docs/docs/blocks/display-blocks.ipynb
  docs/docs/reference/display-blocks/text.ipynb
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/__init__.py
  python-client/src/arakawa/blocks/text.py
  python-client/src/arakawa/builtins.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/types.py
  python-client/tests/builtins.py
  web-components/eslint.config.mjs
  web-components/src/components/blocks/Alert.vue
  web-components/src/components/blocks/Markdown.vue
  web-components/src/components/blocks/Text.vue
  web-components/src/data-model/blocks/leaf-blocks.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/test-maps.ts
Due: ruff, ruff-format, eslint, prettier, nbstripout

feat: divider
  docs/docs/reference/display-blocks/text.ipynb
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/__init__.py
  python-client/src/arakawa/blocks/text.py
  web-components/eslint.config.mjs
  web-components/src/components/blocks/Divider.vue
  web-components/src/data-model/blocks/leaf-blocks.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/test-maps.ts
Due: ruff, ruff-format, eslint, prettier, nbstripout

feat: divider (#117)
  docs/docs/reference/display-blocks/text.ipynb
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/blocks/__init__.py
  python-client/src/arakawa/blocks/text.py
  web-components/eslint.config.mjs
  web-components/src/components/blocks/Divider.vue
  web-components/src/data-model/blocks/leaf-blocks.ts
  web-components/src/data-model/root-store.ts
  web-components/src/data-model/test-maps.ts
Due: ruff, ruff-format, eslint, prettier, nbstripout

fix: fix divider error
  python-client/src/arakawa/blocks/text.py
  web-components/src/components/blocks/Divider.vue
  web-components/src/data-model/blocks/leaf-blocks.ts
Due: ruff, ruff-format, eslint, prettier

fix: set label
  python-client/src/arakawa/blocks/text.py
Due: ruff, ruff-format

Fix divider issue (#118)
  python-client/src/arakawa/blocks/text.py
  web-components/src/components/blocks/Divider.vue
  web-components/src/data-model/blocks/leaf-blocks.ts
Due: ruff, ruff-format, eslint, prettier

refactor: remove typer
  docs/convert_to_py_version.py
  docs/pyproject.toml
  docs/uv.lock
  python-client/requirements.txt
Due: none

refactor: remove typer (#119)
  docs/convert_to_py_version.py
  docs/pyproject.toml
  docs/uv.lock
  python-client/requirements.txt
Due: none

chore: tailwind v4
  web-components/base.vite.config.ts
  web-components/formkit.config.ts
  web-components/formkit.theme.ts
  web-components/package-lock.json
  web-components/package.json
  web-components/src/components/blocks/Attachment.vue
  web-components/src/components/controls/formkit.ts
  web-components/src/components/layout/NavBar.vue
  web-components/src/shared/ARDropdown.vue
  web-components/src/styles/report.scss
  web-components/src/styles/tailwind.css
  web-components/tailwind.config.js
Due: eslint, prettier

chore: tailwind v4 (#120)
  web-components/base.vite.config.ts
  web-components/formkit.config.ts
  web-components/formkit.theme.ts
  web-components/package-lock.json
  web-components/package.json
  web-components/src/components/blocks/Attachment.vue
  web-components/src/components/controls/formkit.ts
  web-components/src/components/layout/NavBar.vue
  web-components/src/shared/ARDropdown.vue
  web-components/src/styles/report.scss
  web-components/src/styles/tailwind.css
  web-components/tailwind.config.js
Due: eslint, prettier

chore: update formkit
  web-components/formkit.config.ts
  web-components/formkit.theme.ts
  web-components/package-lock.json
  web-components/package.json
Due: eslint, prettier

chore: update formkit (#121)
  web-components/formkit.config.ts
  web-components/formkit.theme.ts
  web-components/package-lock.json
  web-components/package.json
Due: eslint, prettier
