Repository ninoseki/arakawa: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, uv-sort, ruff, ruff-format, eslint, prettier, actionlint, nbstripout

lefthook.yml:

pre-commit:
  commands:
    uv-lock:
      root: "python-client/"
      glob: "**/pyproject.toml"
      run: uv lock
      stage_fixed: true
    uv-sort:
      root: "python-client/"
      glob: "**/pyproject.toml"
      run: uv run uv-sort
      stage_fixed: true
    ruff:
      root: "python-client/"
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      root: "python-client/"
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true
    eslint:
      root: "web-components/"
      glob: "*.{js,mjs,cjs,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true
    prettier:
      root: "web-components/"
      glob: "*.{js,mjs,cjs,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    actionlint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: actionlint {staged_files}
    nbstripout:
      root: "docs/"
      glob: "*.ipynb"
      run: uv run nbstripout {staged_files}
      stage_fixed: true

chore: update Python deps
  docs/pyproject.toml
  docs/uv.lock
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/uv.lock
Due: uv-lock, uv-sort

chore: update Python deps (#122)
  docs/pyproject.toml
  docs/uv.lock
  python-client/pyproject.toml
  python-client/requirements.txt
  python-client/uv.lock
Due: uv-lock, uv-sort

feat: support Pandas v3
  .github/workflows/python.yml
  python-client/pyproject.toml
  python-client/report.html
  python-client/requirements.txt
  python-client/tests/common/test_df_processor.py
  python-client/uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format, actionlint

fix: use spec & key
  .github/workflows/python.yml
Due: actionlint

fix: set exclude
  .github/workflows/python.yml
Due: actionlint

fix: update exclude
  .github/workflows/python.yml
Due: actionlint

feat: support Pandas v3 (#123)
  .github/workflows/python.yml
  python-client/pyproject.toml
  python-client/report.html
  python-client/requirements.txt
  python-client/tests/common/test_df_processor.py
  python-client/uv.lock
Due: uv-lock, uv-sort, ruff, ruff-format, actionlint

ci: update actions
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/node.yml
  .github/workflows/publish.yml
  .github/workflows/python.yml
Due: actionlint

ci: update actions (#124)
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/node.yml
  .github/workflows/publish.yml
  .github/workflows/python.yml
Due: actionlint

chore: update deps
  docs/pyproject.toml
  docs/uv.lock
  python-client/pyproject.toml
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: uv-lock, uv-sort

fix: sync lockfile
  python-client/uv.lock
Due: none

Up (#125)
  docs/pyproject.toml
  docs/uv.lock
  python-client/pyproject.toml
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: uv-lock, uv-sort

feat: altair 6
  docs/uv.lock
  python-client/pyproject.toml
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: uv-lock, uv-sort

feat: altair 6 (#126)
  docs/uv.lock
  python-client/pyproject.toml
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: uv-lock, uv-sort

fix: remove junk file
  python-client/report.html
Due: none

refactor: ignore *.html
  python-client/.gitignore
Due: none

Clean (#127)
  python-client/.gitignore
  python-client/report.html
Due: none

refactor: drop axios
  web-components/.npmrc
  web-components/package-lock.json
  web-components/package.json
  web-components/src/data-model/blocks/leaf-blocks.ts
Due: eslint, prettier

refactor: use node v24
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/node.yml
  .github/workflows/publish.yml
  .github/workflows/python.yml
  web-components/package-lock.json
  web-components/package.json
  web-components/tsconfig.node.json
Due: actionlint

Drop axios (#128)
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/node.yml
  .github/workflows/publish.yml
  .github/workflows/python.yml
  web-components/.npmrc
  web-components/package-lock.json
  web-components/package.json
  web-components/src/data-model/blocks/leaf-blocks.ts
  web-components/tsconfig.node.json
Due: eslint, prettier, actionlint

chore: update bokeh
  python-client/pyproject.toml
  python-client/src/arakawa/optional_libs.py
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: uv-lock, uv-sort, ruff, ruff-format

fix: remove None
  python-client/src/arakawa/ipython/utils.py
Due: ruff, ruff-format

fix: sync uv.lock
  docs/uv.lock
Due: none

fix: apply ruff format
  python-client/src/arakawa/ipython/templates.py
Due: ruff, ruff-format

chore: update bokeh (#129)
  docs/uv.lock
  python-client/pyproject.toml
  python-client/src/arakawa/ipython/templates.py
  python-client/src/arakawa/ipython/utils.py
  python-client/src/arakawa/optional_libs.py
  python-client/uv.lock
  web-components/package-lock.json
  web-components/package.json
Due: uv-lock, uv-sort, ruff, ruff-format

fix: fix axios replacement error
  web-components/src/data-model/blocks/leaf-blocks.ts
Due: eslint, prettier

fix: fix axios replacement error (#130)
  web-components/src/data-model/blocks/leaf-blocks.ts
Due: eslint, prettier

chore: update katex
  web-components/package-lock.json
  web-components/package.json
  web-components/src/components/blocks/Formula.vue
  web-components/vite.config.ts
Due: eslint, prettier

chore: update katex (#132)
  web-components/package-lock.json
  web-components/package.json
  web-components/src/components/blocks/Formula.vue
  web-components/vite.config.ts
Due: eslint, prettier

fix: build before publish
  .github/workflows/publish.yml
Due: actionlint

chore: update storybook
  web-components/.storybook/main.ts
  web-components/package-lock.json
  web-components/package.json
Due: eslint, prettier

chore: update storybook (#133)
  web-components/.storybook/main.ts
  web-components/package-lock.json
  web-components/package.json
Due: eslint, prettier

fix: add @vite-ignore
  web-components/src/components/blocks/Formula.vue
Due: eslint, prettier

fix: fix wrongly deleted imports
  web-components/env.d.ts
  web-components/src/components/blocks/Embed.vue
  web-components/src/components/blocks/HTML.vue
Due: eslint, prettier
