Repository ninoseki/arakawa: changes, and which lefthook commands are due for each by the changed paths.
All: uv-lock, uv-sort, ruff, ruff-format, pyupgrade, prettier, actionlint

lefthook.yml:

rc: ./.lefthookrc

pre-commit:
  commands:
    uv-lock:
      glob: "pyproject.toml"
      run: uv lock
    uv-sort:
      glob: "pyproject.toml"
      run: uv-sort
    ruff:
      glob: "*.py"
      run: uv run ruff check --fix {staged_files}
      stage_fixed: true
    ruff-format:
      glob: "*.py"
      run: uv run ruff format {staged_files}
      stage_fixed: true
    pyupgrade:
      glob: "*.py"
      run: uv run pyupgrade --py39-plus {staged_files}
      stage_fixed: true
    prettier:
      root: "web-components/"
      glob: "*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    actionlint:
      glob: ".github/workflows/*.{yml,yaml}"
      run: actionlint {staged_files}

wip
  .github/workflows/docs.yml
  .github/workflows/npm.yml
  .github/workflows/publish.yml
  .github/workflows/pypi.yml
  public-docs/README.md
  public-docs/docs/blocks/display-blocks.ipynb
  public-docs/docs/blocks/layout-blocks.ipynb
  public-docs/docs/blocks/overview.ipynb
  public-docs/docs/quickstart.ipynb
  public-docs/docs/reference/display-blocks/data.ipynb
  public-docs/docs/reference/display-blocks/embeds.ipynb
  public-docs/docs/reference/display-blocks/plots.ipynb
  public-docs/docs/reference/display-blocks/text.ipynb
  public-docs/docs/reference/layout-blocks/group.ipynb
  public-docs/docs/reference/layout-blocks/page.ipynb
  public-docs/docs/reference/layout-blocks/select.ipynb
  public-docs/docs/reference/layout-blocks/toggle.ipynb
  public-docs/docs/reports/jupyter-integration.ipynb
  public-docs/docs/reports/overview.ipynb
  public-docs/docs/reports/styling.ipynb
  public-docs/nbbuild.sh
  public-docs/pyproject.toml
  public-docs/uv.lock
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/_version.py
  python-client/src/arakawa/client/utils.py
  python-client/src/arakawa/ipython/utils.py
  python-client/src/arakawa/optional_libs.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/resources/html_templates/head_chrome.html
  python-client/src/arakawa/resources/html_templates/ipython_base.html copy.j2
  python-client/src/arakawa/resources/html_templates/ipython_base.html.j2
  python-client/src/arakawa/resources/html_templates/ipython_template.html
  python-client/src/arakawa/resources/html_templates/ipython_template.html copy.j2
  python-client/src/arakawa/resources/html_templates/ipython_template.html.j2
  python-client/src/arakawa/resources/html_templates/local_template.html.j2
  web-components/package-lock.json
  web-components/package.json
Due: ruff, ruff-format, pyupgrade, actionlint

wip
  .github/workflows/publish.yml
  public-docs/docs/blocks/display-blocks.ipynb
  public-docs/docs/blocks/layout-blocks.ipynb
  public-docs/docs/quickstart.ipynb
  public-docs/docs/reference/display-blocks/data.ipynb
  public-docs/docs/reference/display-blocks/embeds.ipynb
  public-docs/docs/reference/display-blocks/plots.ipynb
  public-docs/docs/reference/display-blocks/text.ipynb
  public-docs/docs/reference/layout-blocks/group.ipynb
  public-docs/docs/reference/layout-blocks/page.ipynb
  public-docs/docs/reference/layout-blocks/select.ipynb
  public-docs/docs/reference/layout-blocks/toggle.ipynb
  public-docs/docs/reports/jupyter-integration.ipynb
  public-docs/docs/reports/styling.ipynb
  python-client/src/arakawa/blocks/asset.py
  python-client/src/arakawa/blocks/layout.py
  python-client/src/arakawa/blocks/text.py
  python-client/src/arakawa/blocks/wrappers.py
  python-client/src/arakawa/builtins.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/resources/html_templates/head_chrome.html
  python-client/src/arakawa/resources/html_templates/head_chrome.html.j2
  python-client/src/arakawa/resources/html_templates/ipython_base.html
  python-client/src/arakawa/resources/html_templates/ipython_base.html.j2
  python-client/src/arakawa/resources/html_templates/ipython_template.html
  python-client/src/arakawa/resources/html_templates/ipython_template.html copy.j2
  python-client/src/arakawa/resources/html_templates/ipython_template.html.j2
  python-client/src/arakawa/resources/html_templates/local_template.html
  python-client/src/arakawa/resources/html_templates/local_template.html.j2
  python-client/src/arakawa/view/asset_writers.py
  python-client/tests/builtins.py
Due: ruff, ruff-format, pyupgrade, actionlint

wip
  .github/workflows/publish.yml
  lefthook.yml
  public-docs/docs/blocks/display-blocks.ipynb
  public-docs/docs/blocks/layout-blocks.ipynb
  public-docs/docs/blocks/overview.ipynb
  public-docs/docs/quickstart.ipynb
  public-docs/docs/reference/display-blocks/data.ipynb
  public-docs/docs/reference/display-blocks/embeds.ipynb
  public-docs/docs/reference/display-blocks/plots.ipynb
  public-docs/docs/reference/display-blocks/text.ipynb
  public-docs/docs/reference/layout-blocks/group.ipynb
  public-docs/docs/reference/layout-blocks/page.ipynb
  public-docs/docs/reference/layout-blocks/select.ipynb
  public-docs/docs/reference/layout-blocks/toggle.ipynb
  public-docs/docs/reports/jupyter-integration.ipynb
  public-docs/docs/reports/overview.ipynb
  public-docs/docs/reports/styling.ipynb
  public-docs/nbclear.sh
  public-docs/uv.lock
  python-client/pyproject.toml
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/resources/html_templates/head_chrome.html
  python-client/src/arakawa/resources/html_templates/head_chrome.html.j2
  python-client/src/arakawa/resources/html_templates/ipython_base.html.j2
  python-client/src/arakawa/resources/html_templates/ipython_template.html
  python-client/src/arakawa/resources/html_templates/ipython_template.html.j2
  python-client/src/arakawa/resources/html_templates/local_template.html
  python-client/src/arakawa/resources/html_templates/local_template.html.j2
  python-client/uv.lock
  web-components/base/index.ts
  web-components/package-lock.json
  web-components/package.json
Due: ruff, ruff-format, pyupgrade, prettier, actionlint

wip
  web-components/package.json
  web-components/template-components/index.ts
  web-components/template-components/src/SearchQuery.ce.vue
  web-components/template-components/src/template-utils.ts
  web-components/template-components/vite.config.ts
Due: prettier

wip
  web-components/js-only.d.ts
  web-components/package-lock.json
  web-components/package.json
  web-components/report/index.ts
  web-components/report/src/components/blocks/DataTable/QueryArea.vue
Due: prettier

fix: fix typo
  .github/workflows/python.yml
Due: actionlint

fix: add requirements.txt
  python-client/requirements.txt
Due: none

fix: add typing-extensions
  python-client/pyproject.toml
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/processors/file_store.py
  python-client/src/arakawa/processors/types.py
  python-client/src/arakawa/view/view_blocks.py
  python-client/src/arakawa/view/xml_visitor.py
  python-client/uv.lock
Due: ruff, ruff-format, pyupgrade

fix: use Union
  python-client/src/arakawa/common/ar_types.py
Due: ruff, ruff-format, pyupgrade

fix: use typing_extensions
  python-client/src/arakawa/blocks/layout.py
Due: ruff, ruff-format, pyupgrade

fix: use Union
  lefthook.yml
  python-client/src/arakawa/blocks/misc_blocks.py
Due: ruff, ruff-format, pyupgrade

fix: remove lefthookrc
  .lefthookrc
  lefthook.yml
Due: none

fix: set proper cache-dependency-path
  .github/workflows/publish.yml
Due: actionlint

fix: set proper cache-dependency-path (#3)
  .github/workflows/publish.yml
Due: actionlint

fix: set package input parameter
  .github/workflows/publish.yml
Due: actionlint

fix: set package input parameter (#4)
  .github/workflows/publish.yml
Due: actionlint

docs: update README
  python-client/README.md
  python-client/images/layout_example.png
  python-client/images/simple_example.png
Due: none

docs: update README (#5)
  python-client/README.md
  python-client/images/layout_example.png
  python-client/images/simple_example.png
Due: none

chore: replace images
  public-docs/docs/img/jupyter/exclude.png
  public-docs/docs/img/jupyter/include.png
  public-docs/docs/img/jupyter/iris-analysis.png
  public-docs/docs/img/jupyter/show-code.png
  public-docs/docs/reports/jupyter-integration.ipynb
Due: none

fix: fix Python 3.9 related glitches
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/_version.py
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/blocks/wrappers.py
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/ipython/environment.py
  python-client/src/arakawa/ipython/templates.py
  python-client/src/arakawa/ipython/utils.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/settings.py
  python-client/src/arakawa/view/asset_writers.py
Due: ruff, ruff-format, pyupgrade

fix: fix Python 3.9 related glitches (#7)
  python-client/src/arakawa/__init__.py
  python-client/src/arakawa/_version.py
  python-client/src/arakawa/blocks/base.py
  python-client/src/arakawa/blocks/wrappers.py
  python-client/src/arakawa/common/utils.py
  python-client/src/arakawa/ipython/environment.py
  python-client/src/arakawa/ipython/templates.py
  python-client/src/arakawa/ipython/utils.py
  python-client/src/arakawa/processors/processors.py
  python-client/src/arakawa/settings.py
  python-client/src/arakawa/view/asset_writers.py
Due: ruff, ruff-format, pyupgrade

fix: add fontawesome
  web-components/package-lock.json
  web-components/package.json
  web-components/report/index.ts
Due: prettier

fix: add fontawesome (#8)
  web-components/package-lock.json
  web-components/package.json
  web-components/report/index.ts
Due: prettier

test: test report generation with built-in demo
  python-client/tests/common/utils.py
  python-client/tests/test_builtins.py
Due: ruff, ruff-format, pyupgrade

test: test report generation with built-in demo (#9)
  python-client/tests/common/utils.py
  python-client/tests/test_builtins.py
Due: ruff, ruff-format, pyupgrade

feat: add client test
  python-client/pyproject.toml
  python-client/tests/builtins.py
  python-client/tests/client/__init__.py
  python-client/tests/client/views/__init__.py
  python-client/tests/client/views/test_builtins.py
  python-client/tests/client/views/test_misc.py
  python-client/tests/client/views/test_misc/report.md
  python-client/tests/client/views/test_views.py
  python-client/tests/client/views/test_views/datapane-icon-192x192.png
  python-client/tests/test_builtins.py
  python-client/tests/test_local_report.ipynb
  python-client/uv.lock
Due: ruff, ruff-format, pyupgrade

feat: add client test (#10)
  python-client/pyproject.toml
  python-client/tests/builtins.py
  python-client/tests/client/__init__.py
  python-client/tests/client/views/__init__.py
  python-client/tests/client/views/test_builtins.py
  python-client/tests/client/views/test_misc.py
  python-client/tests/client/views/test_misc/report.md
  python-client/tests/client/views/test_views.py
  python-client/tests/client/views/test_views/datapane-icon-192x192.png
  python-client/tests/test_builtins.py
  python-client/tests/test_local_report.ipynb
  python-client/uv.lock
Due: ruff, ruff-format, pyupgrade

chore: set exclude in python-client
  python-client/pyproject.toml
Due: none

chore: set exclude in python-client (#11)
  python-client/pyproject.toml
Due: none

fix: add symlink for requirements.txt
  public-docs/requirements.txt
Due: none

fix: add symlink for requirements.txt (#12)
  public-docs/requirements.txt
Due: none

fix: add --force
  .github/workflows/publish.yml
Due: actionlint

feat: add workflow for publishing docs
  .github/workflows/docs.yml
Due: actionlint

fix: convert PEP440 version to semver (for NPM package)
  python-client/pyproject.toml
  python-client/src/arakawa/settings.py
  python-client/src/arakawa/versioning.py
  python-client/tests/test_versioning.py
  python-client/uv.lock
Due: ruff, ruff-format, pyupgrade
